#rbg {
    margin-top: 100px;
    background-color: red;
    width: 400px;
    height:250px;
    border-radius: 7%;
    position: relative;
  }
  
  #greyarea {
    background-color: grey;
    height: 85px;
    width: 400px;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    position: absolute;
  }

  #blank {
    width: 230px;
    height: 190px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 85px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
  }
  