#rc1 {
    border-radius: 25px;
    background: purple;
    /* padding: 20px;  */
    width: 260px;
    height: 150px;
    position: relative;  
  }
#money{
  position: absolute;
  left: 10px;
  top: 5px;
  }
#time{
  position: absolute;
  left: 220px;
  top: 100px;
}
.box{
  position: absolute;
  background-color: grey;
  width: 20px;
  bottom: 10px;
  display: inline-block;
}
#ast{
  height: 60px;
  left: 30px;
}
#bnd{
  height: 80px;
  left: 60px;
}
#crd{
  height: 100px;
  left: 90px;
}
#dth{
  height: 80px;
  left: 120px;
}
#eth{
  height: 60px;
  left: 150px;
}
#fth{
  height: 40px;
  left: 180px;
}
